/*
 *  Copyright Magmodules.eu. All rights reserved.
 *  See COPYING.txt for license details.
 */

.mollie-component {
    @apply border rounded;
    @apply p-2;
    @apply bg-white;
}

.mollie-component.is-invalid {
    @apply bg-red-100;
}

.mollie-card-component {
    @apply mb-2;
}

.mollie-card-component__error {
    @apply text-red-600;
    @apply text-sm;
}

.btn.btn-primary.apple-pay-button {
    font-size: 0 !important;
}

/* Apple Pay start */
.apple-pay-button {
    -webkit-appearance: -apple-pay-button;
}

@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
    }
    .apple-pay-button-with-text > * {
        visibility: hidden;
    }
    .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
        cursor: pointer;
    }
    .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }

    .apple-pay-button-color-black { -apple-pay-button-style: black; }
    .apple-pay-button-color-white { -apple-pay-button-style: white; }
    .apple-pay-button-color-white-outline { -apple-pay-button-style: white-outline; }
    .apple-pay-button-text-buy { -apple-pay-button-type: buy; }
    .apple-pay-button-text-donate { -apple-pay-button-type: donate; }
    .apple-pay-button-text-plain { -apple-pay-button-type: plain; }
    .apple-pay-button-text-book { -apple-pay-button-type: book; }
    .apple-pay-button-text-check-out { -apple-pay-button-type: check-out; }
    .apple-pay-button-text-subscribe { -apple-pay-button-type: subscribe; }
    .apple-pay-button-text-add-money { -apple-pay-button-type: add-money; }
    .apple-pay-button-text-contribute { -apple-pay-button-type: contribute; }
    .apple-pay-button-text-order { -apple-pay-button-type: order; }
    .apple-pay-button-text-reload { -apple-pay-button-type: reload; }
    .apple-pay-button-text-rent { -apple-pay-button-type: rent; }
    .apple-pay-button-text-support { -apple-pay-button-type: support; }
    .apple-pay-button-text-tip { -apple-pay-button-type: tip; }
    .apple-pay-button-text-top-up { -apple-pay-button-type: top-up; }
}
