<?xml version="1.0"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin name="mollie_hide_creditcard_vault_when_not_applicable" type="Mollie\HyvaCheckout\Plugin\Quote\Api\HideVaultWhenNotApplicable" />
    </type>

    <type name="Mollie\HyvaCheckout\Plugin\Quote\Api\HideVaultWhenNotApplicable">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Mollie\HyvaCheckout\Service\Vault\GetSavedCards">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <virtualType name="Mollie\HyvaCheckout\Magewire\Checkout\Payment\Method\Kbc"
                 type="Mollie\HyvaCheckout\Magewire\Checkout\Payment\Method\WithIssuer"
    >
        <arguments>
            <argument name="method" xsi:type="string">kbc</argument>
        </arguments>
    </virtualType>

    <virtualType name="Mollie\HyvaCheckout\Magewire\Checkout\Payment\Method\Giftcard"
                 type="Mollie\HyvaCheckout\Magewire\Checkout\Payment\Method\WithIssuer"
    >
        <arguments>
            <argument name="method" xsi:type="string">giftcard</argument>
        </arguments>
    </virtualType>
</config>
